{% extends 'layout.html' %}
{% block title %} Admin - {{ api_user.display_name}} {%endblock%}
{% block subtitle %} {{ api_user.display_name }} {% endblock %}
{% block content %}
<div class="section row">
    <div class="large-12  columns">
        <h3>Information</h3>

        <form method="POST" action="{{ url_for('portal.process_registration') }}">
            <table>
                <thead><td class="hide_small">Registration date</td><td>Last API request</td><td>Status</td></tr></thead>
                <tbody>
                    <tr>
                        <td class="hide_small">
                            {{ api_user.created_at }}
                        </td>
                        <td>
                            {{ api_user.last_request }}
                        </td>
                        <td>
                            <input type="hidden" name="usernames[]" value="{{ api_user.username }}" />
                            <select name="approvals[]" class="full">
                                {% for status in statuss %}
                                    <option value="{{ status }}" {% if status == api_user.status %} selected {% endif %}>{{ status.title() }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td class="hide_small"></td>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tfoot>
            </table>
        </form>
    </div>
</div>
{% endblock %}
