{% extends 'layout.html' %}
{% block title %} {{ user.display_name}} {%endblock%}
{% block subtitle %} Admin {% endblock %}
{% block content %}
<div class="section row">
    <div class="large-9 medium-7 small-12 columns">
        <h3>Hi, {{ user.display_name }}!</h3>
        <p>
            You can manage API user access below.
        </p>
    </div>
    <div class="large-3 medium-5 small-12 columns">
        <h3>API Version</h3>
        <form method="POST" action="{{ url_for('portal.update_meta') }}">
        <table><tr class="no-border">
        <td>
            <input name="key" type="hidden" value="api_version" />
            <input name="value" type="number" value="{{meta.api}}" class="full" />
        </td>
        <td>
            <input type="submit" value="Submit" />
        </td>
        </tr>
        </table>

        </form>
    </div>
</div>
<div class="section row">
    
    <div class="large-12  columns">
        <h3>Newest registrations<a class="anchor" href="{{url_for('portal.admin_users')}}">  &#8704;</a></h3>

        <form method="POST" action="{{ url_for('portal.process_registration') }}">
            <table>
                <thead><tr><td>Username</td><td class="hide_small">Registration date</td><td>Status</td></tr></thead>
                <tbody>
                {% for api_user in users %}
                    <tr>
                        <td>
                            <a href="{{url_for('portal.admin_user', name=api_user.display_name) }}">{{api_user.display_name }}</a>
                        </td>
                        <td class="hide_small">
                            {{ api_user.created_at }}
                        </td>
                        <td>
                            <input type="hidden" name="usernames[]" value="{{ api_user.username }}" />
                            <select name="approvals[]" class="full">
                                {% for status in statuss %}
                                    <option value="{{ status }}" {% if status == api_user.status %} selected {% endif %}>{{ status.title() }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td class="hide_small"></td>
                    <td><input type="submit" value="Submit" /></td>
                </tfoot>
            </table>
        </form>
    </div>
</div>
{% endblock %}
