{% extends 'layout.html' %}
{% block title %} {{ user.display_name}} {%endblock%}
{% block subtitle %} Admin {% endblock %}
{% block content %}
<div class="section row">
    
    <div class="large-12  columns">
        <h3>API Users</h3>

        <form method="POST" action="{{ url_for('portal.process_registration') }}">
            <table>
                <thead><tr><td>Username</td><td class="hide_small">Last request</td><td>Status</td></tr></thead>
                <tbody>
                {% for api_user in users %}
                    <tr>
                        <td>
                            <a href="{{url_for('portal.admin_user', name=api_user.display_name) }}">{{api_user.display_name }}</a>
                        </td>
                        <td class="hide_small">
                            {{ api_user.last_request }}
                        </td>
                        <td>
                            <input type="hidden" name="usernames[]" value="{{ api_user.username }}" />
                            <select name="approvals[]" class="full">
                                {% for status in statuss %}
                                    <option value="{{ status }}" {% if status == api_user.status %} selected {% endif %}>{{ status.title() }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <td></td>
                    <td class="hide_small"></td>
                    <td><input type="submit" value="Submit" /></td>
                </tfoot>
            </table>
        </form>
    </div>
</div>
{% endblock %}
