{% extends 'layout.html' %}

{% block subtitle %} Changelog {% endblock %}
{% block content %}
<div class="section row">
    <div class="large-12 columns">
        Below is an overview of the changes made to the API.
        <div id="V5" class="section">
            <h3>2016 / 04 / 25<a class="anchor" href="#V5">&#182;</a></h3>
            <ul>
                <li>The offset parameter is now independent of the limit parameter. It no longer skips <span class="inline_code">offset * limit</span> results, but only <span class="inline_code">offset</span> results.</li>
            </ul>
        </div>
        <div class="section" id="V4">
            <h3>2016 / 04 / 20<a class="anchor" href="#V4">&#182;</a></h3>
            <ul>
                <li>Defined default sort order for reviews (first by date, then by bottle id).</li>
                <li>The reviewer by id endpoint has been removed. Reddit usernames that existed solely of numerical values caused problems.</li>
            </ul>
        </div>
        <div class="section" id="V3">
            <h3>2016 / 04 / 19<a class="anchor" href="#V3">&#182;</a></h3>
            <ul>
                <li>Fixed the JSON encoding of results.</li>
                <li>Added endpoints to get reviews by Reviewer and Subreddit</li>
            </ul>
        </div>
        <div class="section" id="V2">
            <h3>2016 / 04 / 16<a class="anchor" href="#V2">&#182;</a></h3>
            <ul>
                <li>Show a message when the token is expired.</li>
                <li>Add HTTP expiration header for token requests.</li>
            </ul>
        </div>
        <div id="V1">
            <h3>2016 / 04 / 14<a class="anchor" href="#V1">&#182;</a></h3>
            <ul>
                <li>First live version of the API</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
