{% extends 'layout.html' %}
{% block title %}Registration{% endblock %}
{% block subtitle %}Register an API Account{% endblock %}
{% block content %}
<div class="row section">
    <div class="large-12 columns">
        <p>In order to make user of the API, enter a new password below. Your username for the account will be identical to your Reddit Username.</p>
        <form method="POST" action="{{ url_for('portal.registration') }} ">
            <input type="text" value="{{ username }}" readonly />
            <input type="password" name="password" placeholder="password*" pattern="\S{4,}" title="Your password should contain at least 4 characters." required />
            <input type="submit" value="register">
        </form>
        <p class="small">*This password should be different from the one you use at Reddit!</p>
    </div>
</div>
{% endblock %}