{% extends 'layout.html' %}
{% block title %} {{ user.display_name}} {%endblock%}
{% block subtitle %} Portal {% endblock %}
{% block content %}
<div class="section row">
    <div class="large-12 columns">
        <p>Hi, {{ user.display_name }}!</p>
        <p>
            Your registration status is: <mark class="{{user.status}}">{{ user.status }}</mark>. 
            {% if user.status == 'approved' %}
                You have access to the API!
            {% endif %}
        </p>
    </div>
</div>
<div class="section row">
    <div class="large-12 columns">
        <h3>Change password</h3>
        <form method="POST" action="{{ url_for('portal.change_password') }}">
            <input type="text" value="{{ user.display_name }}" readonly />
            <input type="password" name="password" placeholder="new password" pattern="\S{4,}" title="Your password should contain at least 4 characters." required />
            <input type="submit" value="Change" />
        </form>
    </div>
</div>
{% endblock %}
