{% extends 'layout.html' %}

{% block title %}Error {{ status }}{% endblock %}
{% block subtitle %} Error {{ status }} {% endblock %}
{% block content %}
    <div class="row section"><div class="large-12 columns"><p>{{ message }}</p></div></div>
{% endblock %}