<!doctype html>
<html>
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="API for Whisky Reviews on Reddit.">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    
    <link href='https://fonts.googleapis.com/css?family=Martel:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ReviewApi | {% block title %} Portal {% endblock %}</title>

    {% endblock %}
</head>
<body>
    <div class="row">
        <div class="medium-6 small-12 columns">
            <div id="header" class="row">
                <div class="large-12 columns">
                    <h1>Review API</h1>
                </div>
                <div class="large-12 columns">
                    <h2 class="subtitle">{% block subtitle %}{% endblock %}</h2>
                </div>
            </div>
        </div>
        <div class="medium-6 small-12 columns">
            <div id="nav" class="right">
                    <a href="{{ url_for('portal.home') }}">Docs</a>
                {% if user %}
                    <a href="{{ url_for('portal.user') }}">{{ user.display_name }}</a>
                    <a href="{{ url_for('portal.logout') }}">Logout</a>
                {% elif username %}
                    <a href="{{ url_for('portal.user') }}">Create account</a>           
                    <a href="{{ url_for('portal.logout') }}">Logout</a>
                {% elif auth_url %}
                    <a href="{{ auth_url }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer" class="section row">
        <div class="medium-8 small-8 columns">
            <p class="small">View this and related projects on <a href="https://gitlab.com/r-scotch" target="_blank">GitLab</a></p>
        </div>
            <div class="medium-4 small-4 columns">
                {% if user.role == 'admin' %}
                    <p class="small right"><a href="{{ url_for('portal.admin') }}">Admin</a></p>
                {% else %}
                    <p class="small right"><a href="{{ url_for('portal.changelog') }}">Changelog</a></p>
                {% endif %}
            </div>
    </div>

</body>