body {
    font-family: "Martel";
    background: #fafafa;
    padding: 2rem 0;
}

h1, h2, h3, h4{
}

h1{
    font-size: 2.2rem;
    line-height: 2.0rem;
}

h2{
    font-size: 1.8rem;
}

h2.subtitle{
    font-size: 1.6rem;
    color: #24882c;
    margin-top: 0;
}

h3{
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

h4{
    font-size: 1.0rem;
    margin-bottom: 0;
}

p{
    font-size: 1.0rem;
    line-height: 1.8rem;
    margin-top: 0;
}

.small {
    font-size: 0.8rem;
}

.inline_code, pre {
    background: #fff;
    padding: 0px 6px;
    margin: 0 4px;
    font-family: "Inconsolata", "Consolas", "Monaco", "Courier", "monospace";
    border: 1px solid #A5D78A;
    transition: background-color 0.1s;
    background: #fafafa;
}

pre{
    font-size: 1.0rem;
    line-height: 1.0rem;
    padding: 10px;
    margin-bottom: 1.2rem;
}

acronym {
    border-bottom: 1px dotted #888;
}

.inline_code:hover, pre:hover{
    border-color: #A5D78A;
    background: #fff;
    cursor: text;
}

a, a:visited{
    color: #24882c;
    text-decoration: none;
}

a:hover{
    color: #04680c;
}

a.anchor{
    opacity: 0;
    transition: opacity 0.3s;
    color: black;
}

a.anchor:hover{
    opacity: 1;
}

::selection {
    background:#A5D78A;
}
mark{
    padding: 0 5px;
}
mark.pending{
    background: #9ACCE2;
}

mark.approved{
    background: #A5D78A;
}
mark.denied {
    background: #E04D4D;
}
mark.revoked{
    background: #000;
    color: #fff;
}

form{
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
table form{
    margin: 10px 0;
}

table thead{
    font-size: 1.0rem;
    font-weight: bold;
}

table tbody{
    font-size: 1.0rem;
}

td {
    padding: 5px 50px 5px 0;
}

td:last-child{
    padding-right: 5px;
}
tr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.no-border{
    border: 0px solid transparent;
}
tfoot tr{
    border-bottom: 0px;
}

table input[type=submit]{
    float: right;
}

input {
    margin: 0 10px 0 0;
}
input[type=text], input[type=number], input[type=password], input[type=submit], select{
    padding: 5px;
    border-radius: 3px;
}
input[type=submit] {
    padding: 7px 15px 5px; 
    background: #A5D78A; 
    border: 1px solid #75A75A;
    border-bottom: 3px solid #75A75A;
    border-radius: 3px; 
    transition: all 0.2s;
}
input[type=submit]:active{
    transform: translate(0px,2px);
    border-bottom: 1px solid #75A75A;
}
input[readonly], input[readonly=readonly]{
    background: #efefef;
}

#container{
    margin: 100px 0 100px 0;
}

#header h1{
    margin-bottom: 0;
}

#nav{
    text-align: right;
    margin-top: 2.2rem;
}

 #nav a{
    margin: 0 7px;
    padding: 0 2px 0.8rem 2px;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0, 0.0);
    transition: border-color 0.1s linear;
}

#nav a:hover{
    border-color: rgba(0,0,0,0.4);
}

#content{
    clear: both;
}

.section{
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    margin-bottom: 20px;
    clear:both;
}

.right{
    text-align: right;
}

.full{
    width: 100%;
}
/* Medium */
@media only screen and (max-width: 64em) {
    .small{
        font-size: 1.0rem;
    }
}

/* Small */
@media only screen and (max-width: 42em) {
    #header {
        text-align: center;
    }

    #nav {
        text-align: center;
        margin: 0 0 1.2rem 0;
    }

    #nav a {
        margin: 0 5%;
    }

    input[type=text], input[type=number], input[type=password], input[type=submit], select{
        width: 100%;
        margin: 1.2rem 0 0 0;
    }

    input[type=number]:not('.full'){
        width: 6rem;
    }

    .hide_small{
        display: none;
    }
}